// -----------------------------------------------------------------------------
// This is the base file for the website
// -----------------------------------------------------------------------------

/* Configuration and Helpers */
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

/* Vendors */
@import "vendor/normalize";

/* Base */
@import "base/fonts";

/* Layout Related */
@import "layout/footer";
@import "layout/forms";
@import "layout/header";
@import "layout/navigation";

/* Components */


/* Page Specific */

.font1 {font-family: FuturaLight;}
.font2 {font-family: FuturaLightItalic;}
.font3 {font-family: FuturaBook;}
.font4 {font-family: FuturaBookItalic;}
.font5 {font-family: FuturaMedium;}
.font6 {font-family: FuturaMediumItalic;}
.font7 {font-family: FuturaHeavy;}
.font8 {font-family: FuturaHeavyItalic;}
.font9 {font-family: FuturaBoldItalic;}
.font10 {font-family: FuturaExtraBlack;}
.font11 {font-family: FuturaCondensedLight;}
.font12 {font-family: FuturaCondensedMedium;}
.font13 {font-family: FuturaCondensedBold;}
.font14 {font-family: GothamLight;}
.font15 {font-family: GothamLightItalic;}
.font16 {font-family: GothamBook;}
.font17 {font-family: GothamBookItalic;}
.font18 {font-family: GothamMedium;}
.font19 {font-family: GothamMediumItalic;}
.font20 {font-family: GothamBold;}
.font21 {font-family: GothamBoldItalic;}