// -----------------------------------------------------------------------------
// This is the base file for the website
// -----------------------------------------------------------------------------

/* Configuration and Helpers */
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

/* Vendors */
@import "vendor/normalize";

/* Base */
@import "base/fonts";
@import "base/typography";
@import "base/reset";

/* Layout Related */
@import "layout/footer";
@import "layout/header";
@import "layout/navigation";

/* Components */


/* Page Specific */
@import "pages/home";

.wrapper
{
    margin: 0 auto;
    padding: 10px;
    height: 100%;
}

.section
{
    display: block;
    padding: 100px 0;
}

.container
{
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    z-index: 1;
}

.jobs-page
{
    .container
    {
        width: 1120px;
    }
}

.employers-page
{
    .container
    {
        width: 750px;
    }
}

// [START] Job Page //
.jobs
{
    padding-top: 200px;

    .job-find
    {
        position: relative;
        padding-bottom: 60px;

        h1
        {
            margin-top: -4px;
            font-size: 45px;
            letter-spacing: normal;
            color: $dark-grey;
        }

        p
        {
            position: absolute;
            top: 13px;
            right: 0px;
            font-size: 18px;
            color: $grey;
        }

        ul
        {
            display: inline-block;
            vertical-align: top;

            li
            {
                display: inline-block;
            }
        }
    }

    .job-list
    {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 3px;
        margin-top: 1px;
        width: 63.8%;

        li
        {
            position: relative;
            
            .job-info
            {                
                .title
                {
                    text-transform: uppercase;
                    font-size: 15px;
                    color: $dark-grey;
                    letter-spacing: 0.75px;
                }

                .details
                {
                    margin-top: 5px;
                    color: $grey;
                    font-size: 15px;
                }
            }

            .job-more
            {
                position: absolute;
                top: 9px;
                right: 1px;
                padding-bottom: 20px;

                .more
                {
                    border: 3px solid $pink;
                    padding: 13px 14px 11px 14px;
                    text-transform: uppercase;
                    color: $pink;
                    font-size: 15px;
                    letter-spacing: 0.93px;
                    transition: 0.3s ease-out;
                    
                    &:hover
                    {
                        background-color: $pink;
                        color: $white;
                    }
                }
            }
        }

        li:nth-child(n+2)
        {
            padding-top: 24px;
            border-top: 2px solid $lightest-grey;
            margin-top: 18px;
            padding-bottom: 1px;

            .job-more
            {
                margin-top: 25px;
            }
        }
        
        li:last-of-type
        {
            padding-bottom: 20px;
            border-bottom: 2px solid $lightest-grey;
        }
        
        .pagination
        {
            margin-top: 30px;
            margin-left: -8px;

            ul
            {
                position: relative;
                display: inline-block;
                vertical-align: top;

                li
                {
                    display: inline-block;
                    border: none;
                    margin-left: 5px;
                    font-size: 13px;
                }
                
                .previous
                {
                    padding: 7px 10px 6px 11px;
                    background-color: #AFAFAF;
                    color: $white;
                    font-size: 14px;
                }
        
                .number
                {
                    padding: 5px 10px 7px 10px;
                    border: 1px solid $light-grey;
                    font-family: FuturaBook;
                }

                .active
                {
                    padding: 5px 10px 7px 10px;
                    background-color: $green;
                    color: $white;
                    border: 1px solid transparent;
                }

                .next
                {

                    padding: 7px 10px 6px 10px;
                    background-color: $pink;
                    color: $white;
                    font-size: 14px;
                }
            }
        }
    }

    .job-filter
    {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 28.6%;
        margin-left: 6.9%;
        margin-top: -8px;

        .filter
        {
            background-color: $lightest-grey;
            padding: 30px;
            
            h3
            {
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 0.75px;
                font-family: GothamBook;
                font-weight: 300;
                color: $dark-grey;
                margin-top: 2px;
                padding-bottom: 21px;
            }
                
            .keywords
            {
                position: relative;
                display: block;
                border: 1px solid $light-grey;
                background-color: $white;
                padding: 18px 16px 9px 18px;
                
                p
                {
                    margin-top: -2px;
                    font-size: 12px;
                    color: $dark-grey;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                }
                
                input
                {
                    padding-top: 9px;
                    margin-left: -1px;
                    outline: none;
                    border: none;
                    width: 100%;
                }
                
                ::placeholder
                {
                    letter-spacing: 0.94px;
                    color: $light-grey;
                    font-size: 15px;
                }
            }
            
            .select
            {
                position: relative;
                margin-top: 15px;
                padding: 13px 0px 11px 14px;
                border: 1px solid $light-grey;
                background-color: $white;
                cursor: pointer;
                
                span
                {
                    position: absolute;
                    top: 14px;
                    right: 17px;
                    
                    img
                    {
                        width: 13px;
                    }
                }
                
                select
                {
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    background-color: $white;
                    color: $dark-grey;
                    font-weight: 16px;
                    width: 100%;
                    cursor: pointer;
                    height: 19px;
                }
            }
            
            .submit
            {
                margin-top: 15px;
                border: none;
                outline: none;
                -webkit-appearance: none;
                background-color: $pink;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 0.85px;
                font-size: 15px;
                width: 100%;
                padding: 11px 0px;
                transition: 0.3s ease-out;
                
                &:hover
                {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}
// [END] Job Page //

// [START] Employers Page //
.content
{
    margin-top: 92px;
    
    h2
    {
        font-family: FuturaBook;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 31px;
        font-size: 22px;
        color: $dark-grey;
        width: 65%;

        &:after
        {
            content: "";
            display: block;
            width: 100px;
            height: 2px;
            background-color: $pink;
            margin-top: 21px;
        }
    }

    p
    {
        color: $dark-grey;
        font-size: 15px;
        line-height: 30px;
    }

    .intro
    {
        margin-top: 57px;
        font-size: 18px;
    }

    P:nth-of-type(2)
    {
        margin-top: 36px;
    }

    P:last-of-type
    {
        margin-top: 30px;
        width: 50%;
    }
    
    .building-container
    {
        position: absolute;
        top: 476px;
        right: 7px;
        
        img
        {
            width: 318px;
        }
    }
}

.companies
{
    position: relative;
    top: 54px;
    background-color: $lightest-grey;
    
    h2
    {
        font-family: FuturaBook;
        font-weight: 300;
        letter-spacing: 3px;
        color: $pink;
        font-size: 22px;
        text-transform: uppercase;
        margin-top: 5px;
        
        &:after
        {
            content: "";
            display: block;
            width: 100px;
            height: 2px;
            background-color: $dark-grey;
            margin-top: 17px;
        }
    }
    
    .about
    {
        margin-top: 58px;
        font-size: 15px;
        line-height: 29px;
        color: $dark-grey;
    }
    
    .options
    {                    
        li
        {
            display: inline-block;
            margin-top: 25px;
            width: 100%;
            color: $dark-grey;
            font-size: 14px;

            a
            {
                color: $pink;
                display: inline-block;

                &:after
                {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $pink;
                    margin-top: -1px;
                }

                &:hover
                {
                    color: $black;

                    &:after
                    {
                        background-color: $black;
                    }
                }
            }

            .see-all {padding-right: 1.1%;}
            .become-one {padding-left: 1.1%;}
        }
    }
    
    .partners
    {
        display: inline-block;
        padding-top: 55px;
        vertical-align: top;
        margin-left: -11.4%;
        margin-bottom: -30px;

        .grid
        {
            display: block;
            column-count: 4;

            span
            {
                width: 236px;
                height: 190px;
                background-color: $white;
                display: inline-block;
                margin-bottom: 1px;
                margin-left: -10px;
                margin-right: -7px;
                text-align: center;

                .company-hgp                {width: 120px; height: 120px; margin-top: 34px; margin-left: -1px;}
                .company-bondbryan          {width: 103px; height: 120px; margin-top: 36px; margin-left: -1px;}
                .company-bailygarner        {width: 168px; height: 101px; margin-top: 44px; margin-left: -1px;}
                .company-jmarchitects       {width: 163px; height: 33px; margin-top: 79px; margin-left: -1px;}
                .company-conran             {width: 169px; height: 99px; margin-top: 51px; margin-left: 0px;}
                .company-bellway            {width: 161px; height: 52px; margin-top: 69px; margin-left: -1px;}
                .company-keppie             {width: 151px; height: 44px; margin-top: 73px; margin-left: -1px;}
                .company-scottbrownrigg     {width: 182px; height: 81px; margin-top: 55px; margin-left: -1px;}
            }
        }
    }
}

.testimonials
{
    position: relative;
    margin-top: 30px;
    
    h2
    {
        font-family: FuturaBook;
        font-weight: 300;
        letter-spacing: 3px;
        color: $dark-grey;
        font-size: 22px;
        text-transform: uppercase;
        margin-top: 30px;
        width: 770px;
        
        &:after
        {
            content: "";
            display: block;
            width: 100px;
            height: 2px;
            background-color: $green;
            margin-top: 17px;
        }
    }
    
    .slick-slider
    {
        p
        {
            margin-top: 60px;
            font-size: 18px;
            line-height: 31px;
            color: $grey;
        }
        
        .name
        {
            margin-top: 20px;
            font-size: 12px;
            text-transform: uppercase;
            color: $dark-grey;
            padding-bottom: 37px;
        }
    }
    
    .paginator
    {
        .prev
        {
            position: absolute;
            top: 144px;
            left: -274px;
            cursor: pointer;
            
            img
            {
                width: 40px;
                height: 79px;
            }
        }
        
        .next
        {
            position: absolute;
            top: 144px;
            right: -274px;
            cursor: pointer;
            
            img
            {
                width: 39px;
                height: 79px;
            }
        }
    }
    
    .skyline-container
    {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 5px;
        width: 100%;
        height: 132px;
        background-image: url(../images/skyline-full.png);
        background-repeat: repeat-x;
        background-position: bottom;
        background-size: 1436px;
    }
}

.work
{
    margin-top: -7px;
    background-color: $lightest-grey;
    padding-bottom: 120px;
    
    h2
    {
        margin-top: 5px;
        font-family: FuturaBook;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 22px;
        color: $dark-grey;

        &:after
        {
            content: "";
            display: block;
            width: 100px;
            height: 2px;
            background-color: $pink;
            margin-top: 17px;
        }
    }
    
    p
    {
        margin-top: 58px;
        font-size: 15px;
        color: $dark-grey;
        line-height: 28px;
    }
    
    ul
    {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: 40px;
        
        li
        {
            display: inline-block;
            font-size: 15px;
            color: $dark-grey;
            
            a
            {
                color: $pink;
                padding-bottom: 2px;
                border-bottom: 2px solid $pink;
                transition: 0.3s ease-out;
                
                &:hover
                {
                    color: $black;
                    border-bottom: 2px solid $black;
                }
            }
            
            .phone
            {
                width: 21px;
                margin-top: 1px;
                margin-right: 10px;
                margin-left: 2px;
            }
            
            .email
            {
                width: 24px;
                margin-right: 15px;
                margin-left: 75px;
            }
        }
    }
}
// [END] Employers Page //

@media only screen and (min-width : 580px) and (max-width : 800px)
{
    .employers-page
    {
        .container
        {
            margin-left: 50px;
            width: 87%;
        }
        
        .content
        {
            padding-bottom: 0px !important;
            
            h2
            {
                width: 100%;
            }
            
            .building-container
            {
                top: 466px !important;
            }
        }
        
        .companies
        {
            h2
            {
                margin-top: -30px !important;
            }
            
            .options
            {
                .see-all {padding-right: 2%;}
                .become-one {padding-left: 2%;}
            }
            
            .partners
            {
                margin-left: 10px;

                .grid
                {
                    column-count: 2;

                    span
                    {
                        width: 300px;
                        margin-bottom: 10px;
                        margin-left: 1px;
                    }
                }
            }
        }
        
        .testimonials
        {
            h2
            {
                width: 100%;
            }
            
            .paginator
            {
                display: none;
            }
        }
    }
    
    .jobs-page
    {
        .container
        {
            margin-left: 50px;
            width: 87%;
        }
        
        .jobs
        {
            padding-bottom: 0px;
            
            .job-find
            {
                p
                {
                    top: 80px;
                    left: 0;
                }
                
                ul
                {
                    display: block;
                    vertical-align: top;

                    li
                    {
                        display: block;
                    }
                }
            }
            
            .job-list
            {
                width: 100%;
                margin-top: 30px;
            }
            
            .pagination
            {
                padding-bottom: 80px;
            }
            
            .job-filter
            {
                display: none;
            }
        }
    }
}

@media only screen and (max-width : 400px)
{
    .jobs-page
    {        
        .container
        {
            margin-left: 25px;
            width: 87%;
        }
        
        .jobs
        {
            padding-top: 170px;
            padding-bottom: 0px;
            
            .job-find
            {
                h1
                {
                    font-size: 40px;
                    line-height: 36px;
                    width: 100% !important;
                }

                p
                {
                    margin-top: 80px;
                }

                ul
                {
                    display: block;
                }
            }
            
            .job-list
            {
                display: block;
                width: 100%;
                
                li
                {
                    .job-more
                    {
                        top: 120px;
                        left: 0;
                        
                        .more
                        {
                            padding: 13px 10px 11px 10px;
                        }
                    }
                }
                
                li:first-of-type
                {
                    margin-top: 30px;
                }
                
                li:nth-child(n+2)
                {
                    padding-top: 50px;
                    margin-top: 100px;
                    
                    .job-more
                    {
                        margin-top: 30px;
                    }
                }
                
                li:last-of-type
                {
                    padding-bottom: 100px;
                    border-bottom: 2px solid $lightest-grey;
                }
            }
            
            .pagination
            {
                margin-top: -40px !important;
                margin-left: -20px !important;
                width: 110%;
                padding-bottom: 80px;

                .previous
                {
                    padding: 7px 10px 6px 11px !important;
                }

                .number
                {
                    padding: 5px 10px 7px 10px !important;
                }

                .active
                {
                    padding: 5px 10px 7px 10px !important;
                }

                .next
                {
                    padding: 7px 10px 6px 10px !important;
                }
            }
            
            .job-filter
            {
                display: none;
            }
        }
    }
    
    .employers-page
    {
        .container
        {
            margin-left: 25px;
            width: 87%;
        }
        
        .content
        {
            padding-bottom: 0px !important;
        
            h2
            {
                width: 100%;
            }

            P:last-of-type
            {
                margin-top: 30px;
                width: 100%;
            }

            .building-container
            {
                display: none;
            }
        }
        
        .companies
        {
            h2
            {
                margin-top: -20px !important;
            }
            
            .options
            {
                .see-all {padding-right: 5%;}
                .become-one {padding-left: 5%;}
            }
        }
        
        .partners
        {
            margin-left: 10px;
            
            .grid
            {
                column-count: 1;
                
                span
                {
                    width: 300px;
                    margin-bottom: 10px;
                }
            }
        }
        
        .testimonials
        {
            h2
            {
                width: 100%;
            }
            
            .paginator
            {
                display: none;
            }
        }
        
        .work
        {
            ul
            {
                display: block;
                width: 100%;
                
                li
                {
                    display: block;
                    width: 100%;
                    
                    .email
                    {
                        margin-top: 25px;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}