// -----------------------------------------------------------------------------
// This file contains all Footer styling
// -----------------------------------------------------------------------------

.home-page, .employers-page
{
    footer:before
    {
        background-image: url(../images/footer-edges-grey.png);
    }
}

footer
{
    position: relative;
    z-index: 0;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 40px;
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    &:before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100px;
        background-image: url(../images/footer-edges-white.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container
    {
        width: 1250px !important;
    }
    
    a
    {
        color: $white;
    }
    
    .social
    {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        
        .follow
        {
            display: block;
            margin-top: 52px;
            margin-left: -25px;
            
            li
            {
                display: inline-block;
                
                img
                {
                    width: 33px;
                }
            }
        }
        
        p
        {
            margin-top: 5px;
            margin-left: -25px;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $white;
            
            a
            {
                margin-left: 4.5px;
                border-bottom: 2px solid transparent;
                padding-bottom: 3px;
                transition: .3s ease-out;

                &:hover
                {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
    
    .links
    {
        position: absolute;
        right: -25px;
        bottom: -1px;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        text-align: right;
        
        .footer-navigation
        {
            ul
            {
                li
                {
                    display: inline-block;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $white;
                    padding-left: 14px;
                    
                    a
                    {
                        border-bottom: 2px solid transparent;
                        padding-bottom: 3px;
                        transition: .3s ease-out;
                        
                        &:hover
                        {
                            padding-bottom: 3px;
                            border-bottom: 2px solid $white;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 580px) and (max-width : 800px)
{
    footer
    {
        .container
        {
            margin-left: 80px !important;
            width: 80% !important;
        }
        
        .social
        {
            p
            {
                width: 80%;
            }
        }
        
        .links
        {
            width: 60%;
        }
    }
}

@media only screen and (max-width : 400px)
{
    footer
    {
        footer:before
        {
            background-position: top;
        }
        
        .container
        {
            width: 85% !important;
        }

        .social
        {
            position: relative;
            left: 10px;
            display: block;
            padding-top: 20px;
            width: 100%;
            text-align: center;

            p
            {
                width: 80%;
                margin-left: 20px;
                line-height: 17px;
            }

            .follow
            {
                li
                {
                    padding-left: 5px;
                }
            }
        }

        .links
        {
            position: relative;
            display: block;
            width: 100%;
            margin-top: 20px;
            text-align: center;

            .footer-navigation
            {
                margin-left: -50px;
                line-height: 20px;
            }
        }
    }
}