// -----------------------------------------------------------------------------
// This file contains all @font-face declarations
// -----------------------------------------------------------------------------

@font-face
{
    font-family: FuturaLight;
    src: url("../fonts/Futura BT Light.ttf");
}

@font-face
{
    font-family: FuturaBook;
    src: url("../fonts/Futura BT Book.ttf");
}

@font-face
{
    font-family: GothamLight;
    src: url("../fonts/Gotham Light.ttf");
}

@font-face
{
    font-family: GothamBook;
    src: url("../fonts/Gotham Book.ttf");
}

@font-face
{
    font-family: GothamMedium;
    src: url("../fonts/Gotham Medium.ttf");
}