// -----------------------------------------------------------------------------
// This file contains all typography styling
// -----------------------------------------------------------------------------

html, body
{
    font-family: GothamLight, "Arial", sans-serif;
}

h1
{
    font-size:  55px;
    font-family: FuturaBook, "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 2.29px;
    line-height: 52px;
}

a
{
    text-decoration: none;
}