/* Configuration and Helpers */
/* Vendors */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Base */
@font-face {
  font-family: FuturaLight;
  src: url("../fonts/Futura BT Light.ttf"); }

@font-face {
  font-family: FuturaLightItalic;
  src: url("../fonts/Futura BT Light Italic.ttf"); }

@font-face {
  font-family: FuturaBook;
  src: url("../fonts/Futura BT Book.ttf"); }

@font-face {
  font-family: FuturaBookItalic;
  src: url("../fonts/Futura BT Book Italic.ttf"); }

@font-face {
  font-family: FuturaMedium;
  src: url("../fonts/Futura BT Medium.ttf"); }

@font-face {
  font-family: FuturaMediumItalic;
  src: url("../fonts/Futura BT Medium Italic.ttf"); }

@font-face {
  font-family: FuturaHeavy;
  src: url("../fonts/Futura BT Heavy.ttf"); }

@font-face {
  font-family: FuturaHeavyItalic;
  src: url("../fonts/Futura BT Heavy Italic.ttf"); }

@font-face {
  font-family: FuturaBoldItalic;
  src: url("../fonts/Futura BT Bold Italic.ttf"); }

@font-face {
  font-family: FuturaExtraBlack;
  src: url("../fonts/Futura BT Extra Black.ttf"); }

@font-face {
  font-family: FuturaCondensedLight;
  src: url("../fonts/Futura BT Condensed Light.ttf"); }

@font-face {
  font-family: FuturaCondensedMedium;
  src: url("../fonts/Futura BT Condensed Medium.ttf"); }

@font-face {
  font-family: FuturaCondensedBold;
  src: url("../fonts/Futura BT Condensed Bold.ttf"); }

@font-face {
  font-family: GothamLight;
  src: url("../fonts/Gotham Light.ttf"); }

@font-face {
  font-family: GothamLightItalic;
  src: url("../fonts/Gotham Light Italic.ttf"); }

@font-face {
  font-family: GothamBook;
  src: url("../fonts/Gotham Book.ttf"); }

@font-face {
  font-family: GothamBookItalic;
  src: url("../fonts/Gotham Book Italic.ttf"); }

@font-face {
  font-family: GothamMedium;
  src: url("../fonts/Gotham Medium.ttf"); }

@font-face {
  font-family: GothamMediumItalic;
  src: url("../fonts/Gotham Medium Italic.ttf"); }

@font-face {
  font-family: GothamBold;
  src: url("../fonts/Gotham Bold.ttf"); }

@font-face {
  font-family: GothamBoldItalic;
  src: url("../fonts/Gotham Bold Italic.ttf"); }

html, body {
  font-family: GothamBook, "Arial", sans-serif;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 55px;
  font-size: 3.4375rem;
  font-family: FuturaBook, "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 2.29px;
  line-height: 52px; }

a {
  text-decoration: none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  height: 100%; }

ul {
  list-style: none; }
  ul li {
    display: inline-block; }

/* Layout Related */
/* Components */
/* Page Specific */
.homepage header {
  position: absolute;
  top: 70px;
  left: -10px;
  display: block;
  width: 100%; }
  .homepage header .container {
    width: 1250px; }
  .homepage header .logo {
    position: relative;
    left: -15px;
    display: inline-block;
    width: 185px;
    z-index: 2; }
    .homepage header .logo img {
      width: 100%; }
  .homepage header .navigation {
    position: absolute;
    top: 10px;
    right: 5px;
    display: inline-block;
    width: 100%;
    text-align: right;
    z-index: 1; }
    .homepage header .navigation ul {
      display: block;
      list-style: none;
      margin-top: 14px; }
      .homepage header .navigation ul li:last-child {
        margin-left: 2px; }
      .homepage header .navigation ul li {
        display: inline-block;
        padding-left: 1.7%; }
        .homepage header .navigation ul li a {
          color: #000000; }
        .homepage header .navigation ul li .hamburger {
          position: absolute;
          top: 6px;
          right: -40px;
          width: 42px;
          height: 30px;
          padding: 6px 7px;
          border: solid 2px black;
          -webkit-transition: .3s ease-out;
          transition: .3s ease-out; }
          .homepage header .navigation ul li .hamburger:hover {
            background-color: white;
            border: solid 2px white;
            -webkit-filter: invert(100%);
            filter: invert(100%); }
        .homepage header .navigation ul li .nav-link {
          padding-bottom: 5px;
          border-bottom: solid 2px transparent;
          -webkit-transition: .3s ease-out;
          transition: .3s ease-out; }
          .homepage header .navigation ul li .nav-link:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid black; }
        .homepage header .navigation ul li .triangle {
          width: 8px;
          margin-bottom: 4px; }

.homepage .masthead {
  position: relative;
  padding-bottom: 460px;
  padding-top: 245px;
  background-image: url(../images/home-background.png);
  background-size: cover;
  background-position: bottom; }
  .homepage .masthead:after {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    content: "";
    background-image: url(../images/masthead-edges.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%; }
  .homepage .masthead .search {
    display: block; }
    .homepage .masthead .search .job-search {
      display: block; }
      .homepage .masthead .search .job-search h1 {
        display: block;
        width: 60%;
        margin-top: 1px; }
      .homepage .masthead .search .job-search .form-fields {
        display: block;
        margin-top: 34px; }
        .homepage .masthead .search .job-search .form-fields input {
          vertical-align: top;
          width: 300px;
          height: 55px;
          background-color: #FFFFFF;
          border: none;
          padding: 5px 0px 0px 25px;
          font-size: 18px;
          font-size: 1.125rem; }
          .homepage .masthead .search .job-search .form-fields input:focus {
            outline: none; }
        .homepage .masthead .search .job-search .form-fields ::-webkit-input-placeholder {
          color: #464646;
          font-family: GothamLight; }
        .homepage .masthead .search .job-search .form-fields :-ms-input-placeholder {
          color: #464646;
          font-family: GothamLight; }
        .homepage .masthead .search .job-search .form-fields ::-ms-input-placeholder {
          color: #464646;
          font-family: GothamLight; }
        .homepage .masthead .search .job-search .form-fields ::placeholder {
          color: #464646;
          font-family: GothamLight; }
        .homepage .masthead .search .job-search .form-fields #dl-overlay-type {
          display: none;
          position: fixed;
          width: 100%;
          height: 100%; }
        .homepage .masthead .search .job-search .form-fields #dl-type {
          position: relative; }
          .homepage .masthead .search .job-search .form-fields #dl-type .dl-parent-type {
            position: absolute;
            top: -14px;
            left: 6px;
            width: 150px;
            height: 55px;
            line-height: 58px;
            padding-left: 25px;
            background: #FFFFFF;
            color: #464646;
            font-family: GothamLight;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            .homepage .masthead .search .job-search .form-fields #dl-type .dl-parent-type span {
              position: absolute;
              top: 0;
              right: 0;
              width: 50px;
              height: 100%; }
              .homepage .masthead .search .job-search .form-fields #dl-type .dl-parent-type span img {
                width: 10px;
                position: absolute;
                top: 25px;
                left: 19px; }
            .homepage .masthead .search .job-search .form-fields #dl-type .dl-parent-type .dl-content-type {
              display: none;
              background-color: #FFFFFF;
              margin: 10px 0px 0px -25px;
              width: 250px;
              padding-left: 20px;
              line-height: normal;
              font-family: GothamBook;
              border-top: 1px solid #B11486;
              border-bottom: 3px solid #B11486; }
              .homepage .masthead .search .job-search .form-fields #dl-type .dl-parent-type .dl-content-type li {
                padding-top: 20px;
                display: list-item; }
                .homepage .masthead .search .job-search .form-fields #dl-type .dl-parent-type .dl-content-type li a:hover {
                  color: #B11486; }
              .homepage .masthead .search .job-search .form-fields #dl-type .dl-parent-type .dl-content-type li:last-of-type {
                padding-bottom: 20px; }
        .homepage .masthead .search .job-search .form-fields #dl-overlay-category {
          display: none;
          position: fixed;
          width: 100%;
          height: 100%;
          z-index: -1; }
        .homepage .masthead .search .job-search .form-fields #dl-category {
          position: relative; }
          .homepage .masthead .search .job-search .form-fields #dl-category .dl-parent-category {
            position: absolute;
            top: -14px;
            left: 161px;
            width: 150px;
            height: 55px;
            line-height: 58px;
            padding-left: 25px;
            background: #FFFFFF;
            color: #464646;
            font-family: GothamLight;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            .homepage .masthead .search .job-search .form-fields #dl-category .dl-parent-category span {
              position: absolute;
              top: 0;
              right: 0;
              width: 50px;
              height: 100%; }
              .homepage .masthead .search .job-search .form-fields #dl-category .dl-parent-category span img {
                width: 10px;
                position: absolute;
                top: 25px;
                left: 19px; }
            .homepage .masthead .search .job-search .form-fields #dl-category .dl-parent-category .dl-content-category {
              display: none;
              background-color: #FFFFFF;
              margin: 10px 0px 0px -25px;
              width: 250px;
              padding-left: 20px;
              line-height: normal;
              font-family: GothamBook;
              border-top: 1px solid #B11486;
              border-bottom: 3px solid #B11486; }
              .homepage .masthead .search .job-search .form-fields #dl-category .dl-parent-category .dl-content-category li {
                padding-top: 20px;
                display: list-item; }
                .homepage .masthead .search .job-search .form-fields #dl-category .dl-parent-category .dl-content-category li a:hover {
                  color: #B11486; }
              .homepage .masthead .search .job-search .form-fields #dl-category .dl-parent-category .dl-content-category li:last-of-type {
                padding-bottom: 20px; }
        .homepage .masthead .search .job-search .form-fields #dl-overlay-location {
          display: none;
          position: fixed;
          width: 100%;
          height: 100%;
          z-index: -1; }
        .homepage .masthead .search .job-search .form-fields #dl-location {
          position: relative; }
          .homepage .masthead .search .job-search .form-fields #dl-location .dl-parent-location {
            position: absolute;
            top: -14px;
            left: 317px;
            width: 150px;
            height: 55px;
            line-height: 58px;
            padding-left: 25px;
            background: #FFFFFF;
            color: #464646;
            font-family: GothamLight;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            .homepage .masthead .search .job-search .form-fields #dl-location .dl-parent-location span {
              position: absolute;
              top: 0;
              right: 0;
              width: 50px;
              height: 100%; }
              .homepage .masthead .search .job-search .form-fields #dl-location .dl-parent-location span img {
                width: 10px;
                position: absolute;
                top: 25px;
                left: 19px; }
            .homepage .masthead .search .job-search .form-fields #dl-location .dl-parent-location .dl-content-location {
              display: none;
              background-color: #FFFFFF;
              margin: 10px 0px 0px -25px;
              width: 250px;
              padding-left: 20px;
              line-height: normal;
              font-family: GothamBook;
              border-top: 1px solid #B11486;
              border-bottom: 3px solid #B11486; }
              .homepage .masthead .search .job-search .form-fields #dl-location .dl-parent-location .dl-content-location li {
                padding-top: 20px;
                display: list-item; }
                .homepage .masthead .search .job-search .form-fields #dl-location .dl-parent-location .dl-content-location li a:hover {
                  color: #B11486; }
              .homepage .masthead .search .job-search .form-fields #dl-location .dl-parent-location .dl-content-location li:last-of-type {
                padding-bottom: 20px; }
        .homepage .masthead .search .job-search .form-fields .search-field {
          position: absolute;
          right: 208px;
          height: 55px;
          border: 2px solid #000000;
          padding: 10px;
          width: 9.2%;
          -webkit-transition: .3s ease-out;
          transition: .3s ease-out;
          cursor: pointer; }
          .homepage .masthead .search .job-search .form-fields .search-field:hover {
            -webkit-filter: invert(100%);
            filter: invert(100%);
            border: solid 2px transparent;
            background-color: white; }
          .homepage .masthead .search .job-search .form-fields .search-field .search {
            width: 23px;
            margin: 0 auto;
            margin-top: 1.5px;
            margin-left: 10px;
            border: none;
            background: none; }
            .homepage .masthead .search .job-search .form-fields .search-field .search:focus {
              outline: none; }

.wrapper {
  margin: 0 auto;
  padding: 10px;
  height: 100%; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
  z-index: 1; }

.section {
  display: block;
  padding: 100px 0; }
