// -----------------------------------------------------------------------------
// This file contains Homepage specific styling
// -----------------------------------------------------------------------------

.homepage
{
    //---------- [start] Header styling ----------//
    header
    {
        position: absolute;
        top: 70px;
        left: -10px;
        display: block;
        width: 100%;
        
        .container
        {
            width: 1250px;
        }
        
        .logo
        {
            position: relative;
            left: -15px;
            display: inline-block;
            width: 185px;
            z-index: 2;
            
            img
            {
                width: 100%;
            }
        }
        
        //---------- [start] navigation styling ----------//
        .navigation
        {
            position: absolute;
            top: 10px;
            right: 5px;
            display: inline-block;
            width: 100%;
            text-align: right;
            z-index: 1;
            
            ul
            {
                display: block;
                list-style: none;
                margin-top: 14px;
                
                li:last-child
                {
                    margin-left: 2px;
                }
                
                li
                {
                    display: inline-block;
                    padding-left: 1.7%;
                    
                    a
                    {
                        color: #000000;
                    }
                    
                    .hamburger
                    {
                        position: absolute;
                        top: 6px;
                        right: -40px;
                        width: 42px;
                        height: 30px;
                        padding: 6px 7px;
                        border: solid 2px black;
                        transition: .3s ease-out;

                        &:hover
                        {
                            background-color: white;
                            border: solid 2px white;
                            filter: invert(100%);
                        }
                    }
                    
                    .nav-link
                    {
                        padding-bottom: 5px;
                        border-bottom: solid 2px transparent;
                        transition: .3s ease-out;

                        &:hover
                        {
                            padding-bottom: 5px;
                            border-bottom: 2px solid black;
                        }
                    }
                    
                    .triangle
                    {
                        width: 8px;
                        margin-bottom: 4px;
                    }
                }
            }
        }
        //---------- [start] navigation styling ----------//
    }
    //---------- [end] header styling ----------//
    
    //---------- [start] masthead styling ----------//
    .masthead
    {
        position: relative;
        padding-bottom: 460px;
        padding-top: 245px; 
        background-image: url(../images/home-background.png);
        background-size: cover;
        background-position: bottom;

        &:after
        {
            position: absolute;
            display: inline-block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 150px;
            content: "";
            background-image: url(../images/masthead-edges.png);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .search
        {
            display: block;

            .job-search
            {
                display: block;

                h1
                {
                    display: block;
                    width: 60%;
                    margin-top: 1px;
                }
                
                
                .form-fields
                {
                    display: block;
                    margin-top: 34px;
                    
                    
                    input
                    {
                        vertical-align: top;
                        width: 300px;
                        height: 55px;
                        background-color: #FFFFFF;
                        border: none;
                        padding: 5px 0px 0px 25px;
                        @include fontSize(18px);
                        
                        &:focus
                        {
                            outline: none;
                        }
                    }
                    
                    ::placeholder
                    {
                        color: #464646;
                        font-family: GothamLight;
                    }
                    
                    //---------- [start] job type dropdown list styling ----------//
                    #dl-overlay-type
                    {
                        display: none;
                        position: fixed;
                        width: 100%;
                        height: 100%;
                    }

                    #dl-type
                    {
                        position: relative;

                        .dl-parent-type
                        {
                            position: absolute;
                            top: -14px;
                            left: 6px;
                            width: 150px;
                            height: 55px;
                            line-height: 58px;
                            padding-left: 25px;
                            background: #FFFFFF;
                            color: #464646;
                            font-family: GothamLight;
                            cursor: pointer;
                            user-select: none;
                            
                            span
                            {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                
                                img
                                {
                                    width: 10px;
                                    position: absolute;
                                    top: 25px;
                                    left: 19px;
                                }
                            }

                            .dl-content-type
                            {
                                display: none;
                                background-color: #FFFFFF;
                                margin: 10px 0px 0px -25px;
                                width: 250px;
                                padding-left: 20px;
                                line-height: normal;
                                font-family: GothamBook;
                                border-top: 1px solid #B11486;
                                border-bottom: 3px solid #B11486;

                                li
                                {
                                    padding-top: 20px;
                                    display: list-item;
                                    
                                    a:hover
                                    {
                                        color: #B11486;
                                    }
                                }
                                
                                li:last-of-type
                                {
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                    //---------- [end] job type dropdown list styling ----------//
                    
                    //---------- [start] category dropdown list styling ----------//
                    #dl-overlay-category
                    {
                        display: none;
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }

                    #dl-category
                    {
                        position: relative;

                        .dl-parent-category
                        {
                            position: absolute;
                            top: -14px;
                            left: 161px;
                            width: 150px;
                            height: 55px;
                            line-height: 58px;
                            padding-left: 25px;
                            background: #FFFFFF;
                            color: #464646;
                            font-family: GothamLight;
                            cursor: pointer;
                            user-select: none;
                            
                            span
                            {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                
                                img
                                {
                                    width: 10px;
                                    position: absolute;
                                    top: 25px;
                                    left: 19px;
                                }
                            }

                            .dl-content-category
                            {
                                display: none;
                                background-color: #FFFFFF;
                                margin: 10px 0px 0px -25px;
                                width: 250px;
                                padding-left: 20px;
                                line-height: normal;
                                font-family: GothamBook;
                                border-top: 1px solid #B11486;
                                border-bottom: 3px solid #B11486;

                                li
                                {
                                    padding-top: 20px;
                                    display: list-item;
                                    
                                    a:hover
                                    {
                                        color: #B11486;
                                    }
                                }
                                
                                li:last-of-type
                                {
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                    //---------- [end] category dropdown list styling ----------//
                    
                    //---------- [start] location dropdown list styling ----------//
                    #dl-overlay-location
                    {
                        display: none;
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }

                    #dl-location
                    {
                        position: relative;

                        .dl-parent-location
                        {
                            position: absolute;
                            top: -14px;
                            left: 317px;
                            width: 150px;
                            height: 55px;
                            line-height: 58px;
                            padding-left: 25px;
                            background: #FFFFFF;
                            color: #464646;
                            font-family: GothamLight;
                            cursor: pointer;
                            user-select: none;
                            
                            span
                            {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                
                                img
                                {
                                    width: 10px;
                                    position: absolute;
                                    top: 25px;
                                    left: 19px;
                                }
                            }

                            .dl-content-location
                            {
                                display: none;
                                background-color: #FFFFFF;
                                margin: 10px 0px 0px -25px;
                                width: 250px;
                                padding-left: 20px;
                                line-height: normal;
                                font-family: GothamBook;
                                border-top: 1px solid #B11486;
                                border-bottom: 3px solid #B11486;

                                li
                                {
                                    padding-top: 20px;
                                    display: list-item;
                                    
                                    a:hover
                                    {
                                        color: #B11486;
                                    }
                                }
                                
                                li:last-of-type
                                {
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                    //---------- [end] location dropdown list styling ----------//
                    
                    .search-field
                    {
                        position: absolute;
                        right: 208px;
                        height: 55px;
                        border: 2px solid #000000;
                        padding: 10px;
                        width: 9.2%;
                        transition: .3s ease-out;
                        cursor: pointer;
                        
                        &:hover
                        {
                            filter: invert(100%);
                            border: solid 2px transparent;
                            background-color: white;
                        }
                        
                        .search
                        {
                            width: 23px;
                            margin: 0 auto;
                            margin-top: 1.5px;
                            margin-left: 10px;
                            border: none;
                            background: none;
                            
                            &:focus
                            {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
    //---------- [end] masthead styling ----------//
}