// -----------------------------------------------------------------------------
// This file contains all Sass variables
// -----------------------------------------------------------------------------

// Colours //
$pink: #B11486;
$dark-grey: #464646;
$grey: #7B7B7B;
$light-grey: #DBDBDB;
$lightest-grey: #F5F5F5;
$white: #FFFFFF;
$black: #000000;